services:
      db:
        image: mysql:latest
        container_name: mysql-db
        environment:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: database
          MYSQL_USER: user
          MYSQL_PASSWORD: userpassword
        ports:
          - "3306:3306"